<%- include("../layouts/adminHeader") %>

<!--  Main wrapper -->
<div class="body-wrapper">
  <%- include("../layouts/adminNavbar") %>
  <div class="container-fluid">
    <div class="row justify-content-center mb-3">
      <div class="col-md-7">
        <form class="search-container d-flex p-0" action="/admin/categories" method="get">
          <input type="text" class="flex-grow-1" placeholder="search..." name="search"/>
            <button class="btn btn-primary h-100 rounded-start-0">
              Search
            </button>
        </form>
      </div>
    </div>
    <h2 class="my-3">Categories</h2>
    <div class="row">
      <div class="col-8">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Category name</th>
              <th scope="col" class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody id="table-category">
            <% if(locals.categories.length>0){ categories.forEach(item=>{ %>
            <tr>
              <td data-name="<%= item.id %>"><%= item.name %></td>
              <td class="justify-content-center d-flex">
                <button
                  class="btn btn-list me-2 <%= item.listed?'btn-danger':'btn-success' %> btn-block"
                  data-id="<%= item._id %>"
                  onclick="categoryList(this)"
                >
                  <%= item.listed?'Unlist':'List' %>
                </button>
                <button class="btn btn-dark" data-id="<%= item._id %>" onclick="editCategory(this)">Edit</button>
              </td>
            </tr>
            <% })}else{ %>
            <tr>
              <td colspan="4" class="text-center"> No categories found </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <div class="col-4 border-2 border-start border-dark h-50 px-4">
        <h5>ADD CATEGORY</h5>
        <div class="d-flex flex-column mt-3">
          <label for="add-category"><h6>Category name</h6></label>
          <input type="text" name="" id="add-category" placeholder="Enter category name"/>
          <button class="btn btn-success w-25 mt-3" onclick="addCategory(this)">
            ADD
          </button>
        </div>
        <div class="alert-category" id="category-alert">Category added</div>
      </div>
    </div>
  </div>
</div>
  <!-- Modal -->
  <div class="modal fade" id="edit-category-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Rename category</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control-plaintext border border-1 border-dark ps-3" id="cat-name" name="name" placeholder="Enter new name" onblur="removeWhiteSpace(this)">
          <input type="hidden" name="id" id="cat-id" value="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="sendEditRequest()">Rename</button>
        </div>
      </div>
    </div>
  </div>

<%- include("../layouts/adminFooter") %>
