<%- include("../layouts/adminHeader") %>

<!--  Main wrapper -->
<div class="body-wrapper">
  <%- include("../layouts/adminNavbar") %>
  <div class="container-fluid">
    <div class="row justify-content-center mb-3">
      <div class="col-md-7">
        <form action="/admin/coupons" class="search-container d-flex p-0">
          <input
            type="text"
            class="flex-grow-1"
            placeholder="search by coupon code"
            name="search"
            value="<%= search%>"
          />
          <button class="btn btn-primary h-100 rounded-start-0">Search</button>
        </form>
      </div>
      <div class="col-md-3 mt-2 mt-md-0">
        <a href="/admin/add-coupon"
          ><button class="btn btn-success">ADD COUPONS</button></a
        >
      </div>
    </div>
    <h2 class="my-3">All coupons</h2>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Code</th>
          <th scope="col">Discount</th>
          <th scope="col">Minimum spend</th>
          <th scope="col">Valid from</th>
          <th scope="col">Expiry</th>
          <th scope="col">Action</th>
        </tr>
      </thead>

      <tbody>
        <% if(coupons.length){ coupons.forEach((item)=>{ %>
        <tr>
          <td><%= item.code%></td>
          <td>&#8377;<%= item.discountAmount%></td>
          <td>&#8377;<%= item.minimumSpend%></td>
          <td><%= item.validFrom.toLocaleString('en-AU',{year:"numeric",month:"2-digit",day:"2-digit"}) %></td>
          <td><%= item.expiry.toLocaleString('en-AU',{year:"numeric",month:"2-digit",day:"2-digit"}) %></td>
          <td class="product-actions d-flex flex-column justify-content-evenly">
            <button
              class="btn <%= item.listed?'btn-danger':'btn-success' %>"
              data-id="<%= item._id %>"
              data-btnCouponList
            >
              <%= item.listed?'Unlist':'List' %>
            </button>
            <a href="/admin/edit-coupon/<%= item._id %>"
              ><button class="btn btn-dark">Edit</button></a
            >
          </td>
        </tr>
        <% })}else{ %>
        <tr>
          <td colspan="6" class="">No coupons</td>
        </tr>
        <%}%>
      </tbody>
    </table>
     <!--Confirm Modal -->
     <div
     class="modal fade"
     id="coupon-modal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true"
   >
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <h1 class="modal-title fs-5" id="exampleModalLabel">
             Are you sure?
           </h1>

           <button
             type="button"
             class="btn-close"
             data-bs-dismiss="modal"
             aria-label="Close"
           ></button>
         </div>
         <div class="modal-body">
           <p class="error-modal"></p>
           <p>
             Do you really want to
             <strong id="action-text">unlist</strong> this coupon?
           </p>
           <input type="hidden" name="id" id="action-id" value="" />
         </div>
         <div class="modal-footer">
           <button
             type="button"
             class="btn btn-secondary"
             data-bs-dismiss="modal"
           >
             Cancel
           </button>
           <button type="button" class="btn btn-primary" data-couponList>
             Block
           </button>
         </div>
       </div>
     </div>
   </div>
    <script src="/js/utils/coupons.js" defer></script>
      <%- include("../layouts/adminFooter") %>
  </div>
</div>
