<%- include("../layouts/userHeader") %> <%- include("../layouts/userNavbar") %>
<script src="/user/js/utils/cart.js" defer></script>
<div class="section mb-5">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row cart">
      <% if(locals.cartItems?.items?.length){ %>
      <div class="col-md-8 cart-products">
        <div>

       
        <div class="row cart-card">
          <div class="col-md-10">
            <h2>Shoping Cart</h2>
          </div>
          <div class="col-md-2">
            <h5 class="item-count">
              <%= cartItems.items.length > 1 ?`${cartItems.items.length}
              Items`:`${cartItems.items.length} Item` %>
            </h5>
          </div>
        </div>
        <% cartItems.items.forEach((item)=>{ %>
        <div class="row cart-card" data-cartCard="<%= item.productId._id %>">
          <div class="col-sm-3 col-12">
            <div class="cart-image">
              <img
                src="/images/products/<%= item.productId?.images?.[0] %>"
                alt=""
              />
            </div>
          </div>
          <div class="col-sm-3">
            <div class="cart-title">
              <h4><%= item.productId.name %></h4>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="cart-counter">
              <button
                class="btn-counter"
                data-btnCartMinus
                data-id="<%= item.productId._id %>"
              >
                &ndash;
              </button>
              <input
                type="number"
                name=""
                id=""
                class="counter"
                readonly
                value="<%= item.quantity %>"
                data-input="<%= item.productId._id %>"
              />
              <button
                class="btn-counter"
                data-btnCartPlus
                data-id="<%= item.productId._id %>"
              >
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="cart-price-div d-flex justify-between">
              <h4>
                &#8377;<span data-prodAmount="<%= item.productId._id %>"
                  ><%= item.quantity * item.productId.price %></span
                >
              </h4>
              <button class="cart-remove" data-id="<%= item.productId._id %>" data-cartConfirm>
                &times;
              </button>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
      </div>
      <div class="col-md-4 cart-details">
        <div>
        <h2>Summary</h2>
        <hr />
        <div class="d-flex w-100 justify-between">
          <h4 class="fs-4 item-count">
            <%= cartItems.items.length > 1 ?`ITEMS
            ${cartItems.items.length}`:`ITEM ${cartItems.items.length}` %>
          </h4>
          <h4>&#8377;<span data-total><%= cartItems.totalPrice %></span></h4>
        </div>
        <div class="shipping d-flex justify-between">
          <h4>SHIPPING</h4>
          <h5 class="red">FREE</h5>
        </div>
        <div class="total d-flex justify-between">
          <h4>TOTAL</h4>
          <h4>&#8377;<span data-total><%= cartItems.totalPrice %></span></h4>
        </div>
        <button class="btn-checkout" data-checkout>CHECKOUT</button>
      </div>
      </div>

      <% } else { %>
      <div class="col-md-12 item-center">
        <div class="d-flex flex-column align-center">
          <div class="cart-empty-image item-center">
            <h3>Your cart is empty!</h3>
          </div>
          <a href="/shop">SHOP NOW</a>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>

<div id="cart-confirm-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="warning-div">
      <div class="">
        <h4>Remove item</h4>
        <h5 class="mb-5">Are you sure you want to remove this item?</h5>
        <div class="confirm-modal-buttons w-100 item-center">
          <button class="btn btn-primary confirm-close" data-cartModalClose>CLOSE</button>
          <button class="btn btn-danger"  data-cartDelete data-id="">
            YES, REMOVE
          </button>
        </div>
      </div>
    </div>
    <div class="message-div">
      <div class="change-pwd-container">
        <h5>Item removed from cart</h5>
        <button class="btn btn-primary" data-cartModalClose>OK</button>
      </div>
    </div>
  </div>
</div>

<div id="checkout-stock-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <h4>Not enough stock</h4>
    <ul id="checkout-stock">
    </ul>
    <button class="btn btn-primary btn-ok" data-checkoutStockClose>OK</button>
  </div>
</div>

<%- include("../layouts/userFooter") %>
