<%- include("../layouts/userHeader") %> <%- include("../layouts/userNavbar") %>
<script src="/user/js/utils/checkout.js" defer></script>
<div class="section mb-5">
  <!-- container -->
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12"><h2>CHECKOUT PAGE</h2></div>
    </div>
    <!-- row -->
    <div class="row checkout">
      <div class="col-md-6">
        <div class="address-div">
          <h3>Select Address</h3>
          <% if(address.length){ address.forEach((item)=>{ %>
          <div class="address">
            <% if(defaultAddress.equals(item._id)){ %>
            <label for=""
              ><input
                type="radio"
                name="address"
                id=""
                value="<%= item._id %>"
                checked
                data-addressDefault
            /></label>
            <% }else{ %>
            <label for=""
              ><input
                type="radio"
                name="address"
                id=""
                value="<%= item._id %>"
                data-addressDefault
            /></label>
            <% } %>
            <div class="address-details">
              <h5>Full Name:</h5>
              <p><%= item.name %></p>
              <h5>Mobile:</h5>
              <p><%= item.mobile %></p>
              <h5>Address (Area and Street):</h5>
              <p><%= item.address %></p>
              <h5>City / District / Town:</h5>
              <p><%= item.city %></p>
              <h5>State:</h5>
              <p><%= item.state %></p>
              <h5>Pincode:</h5>
              <p><%= item.pincode %></p>
            </div>
          </div>
          <% })} %>
          <div class="address">
            <form id="checkout-address">
              <div class="error" id="error"></div>
              <div class="form-group">
                <label for="name">Full Name <span class="red">*</span></label>
                <input type="text" class="form-control" id="name" />
              </div>
              <div class="form-group">
                <label for="mobile">Mobile <span class="red">*</span></label>
                <input type="number" class="form-control" id="mobile" />
              </div>
              <div class="form-group">
                <label for="address"
                  >Address (Area and Street) <span class="red">*</span></label
                >
                <input type="text" class="form-control" id="address" />
              </div>
              <div class="form-group">
                <label for="city"
                  >City / District / Town <span class="red">*</span></label
                >
                <input type="text" class="form-control" id="city" />
              </div>
              <div class="form-group">
                <label for="state">State <span class="red">*</span></label>
                <input type="text" class="form-control" id="state" />
              </div>
              <div class="form-group">
                <label for="pincode">Pincode <span class="red">*</span></label>
                <input type="number" class="form-control" id="pincode" />
              </div>
              <button type="submit" class="btn primary-btn">Add Address</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="order-summary">
          <div class="d-flex justify-between">
            <h3>Order Summary</h3>
            <h4>3 Items</h4>
          </div>
          <% cart.items.forEach((item)=>{ %>
          <div class="row">
            <div class="pro-details col-md-10">
              <div class="pro-name"><%= item.productId.name %></div>
              <div class="prod-qnty">Qty:<%= item.quantity %></div>
            </div>
            <div class="price col-md-2 right">
              <span>&#8377;<%= item.productId.price*item.quantity %></span>
            </div>
          </div>
          <% }) %>
          <div class="row">
            <div class="col-md-10 shipping">Shipping</div>
            <div class="col-md-2 sh-price right"><span>Free</span></div>
          </div>
          <div class="row">
            <div class="col-md-12 coupon d-flex">
              <h4>COUPON CODE</h4>
              <div class="coupon-input d-flex">
                <input type="text" id="coupon" />
                <button class="btn-apply">APPLY</button>
              </div>
    
              <label for="coupon">Enter your code</label>
            </div>
          </div>
          
          <div class="row coupon-container">
            <div class="col-md-9 coupon-price">name</div>
            <div class="col-md-3 coupon-price right"><span>-&#8377;5680</span></div>
          </div>
          <div class="row total-div">
            <div class="col-md-9 total">TOTAL</div>
            <div class="col-md-3 total-price right">
              <span>&#8377;<%= cart.totalPrice %></span>
              
            </div>
          </div>
        </div>
        <div class="payment d-flex">
          <h3>Payment</h3>
          <div class="cod">
            <label for="cod"
              ><input
                type="radio"
                name="payment-method"
                id="cod"
                class="payment-method"
                checked
              />Cah on delivery</label
            >
          </div>
          <div class="cod">
            <label for="online"
              ><input
                type="radio"
                name="payment-method"
                id="online"
                class="payment-method"
              />Online payment</label
            >
          </div>
          <button class="btn-checkout" data-placeOrder>PLACE ORDER</button>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("../layouts/userFooter") %>
