<%- include("../layouts/userHeader") %> <%- include("../layouts/userNavbar") %>
<link rel="stylesheet" href="/user/css/carousel.css">
<script src="/user/js/utils/banner.js" defer></script>
<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- shop -->
      <div class="col-md-3 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="/user/img/speakers.webp" alt="" />
          </div>
          <div class="shop-body">
            <h3>Speakers</h3>
            <a href="/shop?category=Speakers" class="cta-btn"
              >Shop now <i class="fa fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
      </div>
      <!-- /shop -->
      <!-- shop -->
      <div class="col-md-3 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="/user/img/wired.webp" alt="" />
          </div>
          <div class="shop-body">
            <h3>Wired</h3>
            <a href="/shop?category=Wired" class="cta-btn"
              >Shop now <i class="fa fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
      </div>
      <!-- /shop -->

      <!-- shop -->
      <div class="col-md-3 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="/user/img/wireless.webp" alt="" />
          </div>
          <div class="shop-body">
            <h3>Wireless</h3>
            <a href="/shop?category=Wireless" class="cta-btn"
              >Shop now <i class="fa fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
      </div>
      <!-- /shop -->

      <!-- shop -->
      <div class="col-md-3 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="/user/img/twireless.jpg" alt="" />
          </div>
          <div class="shop-body">
            <h3>Truly wireless</h3>
            <a href="/shop?category=Truly wireless" class="cta-btn"
              >Shop now <i class="fa fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
      </div>
      <!-- /shop -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- banner -->
      <div class="col-12 bg-danger banner">
        <div class="carousel__container">
          <div class="carousel__item">
            <img
              src="/images/banners/autumn-leaf-falling-revealing-intricate-leaf-vein-generated-by-ai.jpg"
              alt=""
              loading="lazy"
            />
            <div class="banner__text">
              <div class="banner__title">New Collections</div>
              <div class="banner__description">Lorem, ipsum dolor sit amet  fsdfdsg dsafds consectetur adipisicing elit. Cumque adipisci impedit aliquam officia doloribus illum quis voluptate modi minus error.
              </div>
            </div>
          </div>
          <div class="carousel__item">
            <img src="/images/banners/botanical-leaves.jpg" alt="" loading="lazy"/>
          </div>
          <div class="carousel__item">
            <img src="/images/banners/neon-tropical-monstera-leaf-banner.jpg" alt="" loading="lazy"/>
          </div>
          <div class="carousel__item">
            <img src="/images/banners/pexels-craig-adderley-1563356.jpg" alt="" loading="lazy"/>
            <div class="banner__text">
              <div class="banner__title">New Collections</div>
              <div class="banner__description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque adipisci impedit aliquam officia doloribus illum quis voluptate modi minus error.
              </div>
            </div>
          </div>
          <div class="carousel__nav"></div>
        </div>
      </div>
      <!-- /banner -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<!-- SECTION -->
<div class="section mb-5">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="title">New Products</h3>
        </div>
      </div>
      <!-- /section title -->
    </div>
    <!-- /row -->

    <!-- /container -->
  </div>

  <!-- /SECTION -->

  <!-- product -->

  <!-- SECTION -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- /shop -->
        <% products.forEach((item)=>{ %>
        <div class="col-md-3 col-xs-6">
          <div
            class="product"
            onclick="window.location.href='product/<%= item._id %>'"
          >
            <div class="product-img">
              <img src="/images/products/<%= item.images[0] %>" alt="" />
            </div>
            <div class="product-body">
              <p><%= item.category.name %></p>
              <h5><%= item.name %></h5>
              <div class="price">
                <span class="original-price">&#8377;<%= item.price %></span>
                <span class="mrk-down"
                  ><strike>&#8377;<%= item.md_price %></strike></span
                >
              </div>
              <div class="add-to-cart-div">
                <% if(locals.user) { %>
                <div
                  class="circle <%= wishlist?.includes(item._id)?'wishlist-active':'' %>"
                  data-addToWishlist
                  data-id="<%= item._id%>"
                  data-status="<%= wishlist?.includes(item._id)?'true':'false' %>"
                >
                  <% if(wishlist?.includes(item._id)){ %><i
                    class="fa fa-heart-o"
                  ></i>
                  <% }else{ %><i class="fa-regular fa-heart"></i> <% } %>
                </div>
                <div class="circle" data-addToCart data-id="<%= item._id %>">
                  <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <% }else{ %>
                <div
                  class="circle"
                  onclick="event.stopPropagation(); showLogin()"
                >
                  <i class="fa-regular fa-heart"></i>
                </div>
                <div
                  class="circle"
                  onclick="event.stopPropagation(); showLogin()"
                >
                  <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>

        <% }) %>

        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /SECTION -->

    <!-- product-end -->
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-12 show-more">
            <a href="/shop" class="primary-btn mx-auto">SHOW MORE</a>
          </div>
        </div>
      </div>
    </div>
    <!-- SECTION -->
    <div class="section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <!-- banner -->
          <div class="col-12 bg-danger banner">
            <img src="/user/img/banner-2.png" alt="" />
          </div>
          <!-- /banner -->
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /SECTION -->
  </div>
</div>
<script src="/user/js/utils/navPages.js"></script>
<%- include("../layouts/userFooter") %>
