<%- include("../layouts/userHeader") %> <%- include("../layouts/userNavbar") %>

<% if(!locals.orders.length) { %>
  
<div class="section mb-5">
  <div class="container orders">
    <h3>Your orders</h3>
    <div class="row mb-5 heading">
      <div class="col-md-12 item-center">No orders</div>
    </div>
  </div>
</div>
<% } else { %>
<div class="section mb-5">
  <!-- container -->
  <div class="container orders">
    <h3>Your orders</h3>
    <div class="row mb-5 heading">
      <div class="col-md-2">Date</div>
      <div class="col-md-3">Invoice No.</div>
      <div class="col-md-1">Amount</div>
      <div class="col-md-3">Item(s)</div>
      <div class="col-md-1">Status</div>

      <div class="col-md-2 d-flex flex-column">Actions</div>
    </div>

    <% orders.forEach((item)=>{ %>
    <div class="row mb-5">
      <div class="col-md-2"><%= item.orderDate.toLocaleString('en-US') %></div>
      <div class="col-md-3"><%= item.invoiceNo %></div>
      <div class="col-md-1">&#8377;<%= item.finalAmount%></div>
      <div class="col-md-3">
        <ul>
          <% item.products.forEach((product)=>{ %>
          <li><%= product.productId.name%></li>
          <% }) %>
        </ul>
      </div>
      <div class="col-md-1" data-status><%= item.status%></div>
      <div class="col-md-2 d-flex flex-column">
        <button class="btn btn-success my-2" onclick="window.location.href='/order-details/<%= item._id%>'">View details</button>
        <% if(item.status!=="Delivered" && item.status!=="Canceled"){ %>
          <button class="btn btn-danger" data-cancelBtn data-id="<%= item._id %>">Cancel order</button>
        <% }else %>
        
      </div>
    </div>

    <% }) %>
  </div>
</div>

<!-- The Modal -->
<div id="order-cancel-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <h5>Are you sure you want to cancel this address?</h5>
    <h6>Please provide a reason</h6>
    <p class="red" data-error></p>
    <textarea name="" id="" cols="45" rows="5" class="reason" data-reason></textarea>

    <div class="confirm-modal-buttons">
      <input type="hidden" value="" data-orderId />
      <button class="btn btn-primary confirm-close">CLOSE</button>
      <button class="btn btn-danger" data-sendReqBtn>
        YES, CANCEL
      </button>
    </div>
  </div>
</div>
<div id="order-cancel-message" class="modal">
  <!-- Modal content -->
  <div class="modal-content" >
    <h5>Your request has been sent! Please be patient</h5>

    <div class="confirm-modal-buttons">
      <input type="hidden" value="" data-orderId />
      <button class="btn btn-primary confirm-close">OK</button>
    </div>
  </div>
</div>
<script src="/user/js/utils/orders.js"></script>
<% } %> <%- include("../layouts/userFooter") %>
