<%- include("../layouts/userHeader") %> <%- include("../layouts/userNavbar") %>

<div class="section mb-5">
  <!-- container -->
  <div class="container bold">
    <h3>Order details</h3>
    <div class="row mb-5 orders">
      <div class="col-md-7 orders">
        <% order.products.forEach((item)=>{ %>
        <div class="row">
          <div class="col-md-3">
            <div class="cart-image">
              <img
                src="/images/products/<%= item.productId.images[0] %>"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-4">
            <p><%= item.productId.name %></p>
            <p>Qty:<%= item.quantity %></p>
            <p>Price/unit: &#8377;<%= item.unitPrice %></p>
          </div>
          <div class="col-md-2">
            &#8377;<%= item.unitPrice * item.quantity %>
          </div>
          <div class="col-md-3 d-flex flex-column">
            <% if(order.status==="Delivered" && !item.cancel?.status){ %>
            <button class="btn btn-primary">Give rating</button>
            <% } %> <% if(order.status!=="Delivered" && !item.cancel?.status){ %>
            <button
              class="btn btn-danger"
              data-cancelBtn
              data-id="<%= item.productId._id %>"
            >
              Cancel order
            </button>
            <% } %>
            <p class="red" data-cancel="<%= item.productId._id %>">
              <% if(item.cancel?.status==="Canceled"){ %> Canceled <% } %>
            </p>
            <% if(order.status==="Delivered" && !item.cancel?.status &&
            !item.return?.status){ %>
            <button class="btn btn-danger">Return item</button>
            <% } %> <% if(order.status==="Delivered" && !item.cancel?.status &&
            item.return?.status==="Pending"){ %>
            <p class="red">Return request is pending</p>
            <% } %> <% if(order.status==="Delivered" && !item.cancel?.status &&
            item.return?.status==="Returned"){ %>
            <p class="red">Returned</p>
            <% } %>
          </div>
        </div>
        <% }) %>
      </div>

      <div class="col-md-5 details-div">
        <div class="order-details">
          <div class="row">
            <div class="col-md-12"><h5>Order Details</h5></div>
          </div>
          <div class="row">
            <div class="col-md-4">Date</div>
            <div class="col-md-8">
              : <%= order.orderDate.toLocaleString('en-AU') %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">Invoice No.</div>
            <div class="col-md-8">: <%= order.invoiceNo %></div>
          </div>
          <div class="row">
            <div class="col-md-4">Status</div>
            <div class="col-md-8">: <%= order.status %></div>
          </div>
          <div class="row">
            <div class="col-md-4">Payment</div>
            <div class="col-md-8">: <%= order.payment %></div>
          </div>
        </div>
        <div class="order-details">
          <div class="row">
            <div class="col-md-12"><h5>Payment Details</h5></div>
          </div>
          <div class="row">
            <div class="col-md-4">Total Amount</div>
            <div class="col-md-8">: &#8377;<%= order.totalAmount %></div>
          </div>
          <% if(parseInt(order.walletUsed)){ %>
          <div class="row">
            <div class="col-md-4">Wallet</div>
            <div class="col-md-8" data-wallet>: -&#8377;<%= order.walletUsed %></div>
          </div>
          <% } %> <% if(order.coupon){ %>
          <div class="row" data-coupon>
            <div class="col-md-4">Coupon</div>
            <div class="col-md-8">: -&#8377;<%= order.coupon.discountAmount %></div>
          </div>
          <% } %>
          <div class="row">
            <div class="col-md-4">Final Amount</div>
            <div class="col-md-8">: &#8377;<span data-finalAmount><%= order.finalAmount %></span></div>
          </div>
        </div>
        <div class="order-details">
          <div class="row">
            <div class="col-md-12"><h5>Shipping Address</h5></div>
          </div>
          <div class="row">
            <div class="col-md-4">Name</div>
            <div class="col-md-8">: <%= order.address.name %></div>
          </div>
          <div class="row">
            <div class="col-md-4">Mobile</div>
            <div class="col-md-8">: <%= order.address.mobile %></div>
          </div>
          <div class="row">
            <div class="col-md-4">Address</div>
            <div class="col-md-8">: <%= order.address.address %></div>
          </div>
          <div class="row">
            <div class="col-md-4">City</div>
            <div class="col-md-8">: <%= order.address.city %></div>
          </div>
          <div class="row">
            <div class="col-md-4">State</div>
            <div class="col-md-8">: <%= order.address.state %></div>
          </div>
          <div class="row">
            <div class="col-md-4">Pincode</div>
            <div class="col-md-8">: <%= order.address.pincode %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- The Modal -->
<div id="order-cancel-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <h5>Are you sure you want to cancel this product?</h5>
    <h6>Give a reason (optional)</h6>
    <p class="red" data-error></p>
    <textarea
      name=""
      id=""
      cols="45"
      rows="5"
      class="reason"
      data-reason
    ></textarea>

    <div class="confirm-modal-buttons">
      <input type="hidden" data-orderId value="<%= order._id %>" />
      <input type="hidden" value="" data-productId />
      <button class="btn btn-primary confirm-close">CLOSE</button>
      <button class="btn btn-danger" data-sendReqBtn>YES, CANCEL</button>
    </div>
  </div>
</div>
<div id="order-cancel-message" class="modal">
  <!-- Modal content --> 
  <div class="modal-content">
    <h5 class="text-center">
      Your orders have been canceled. The refund will be credited to your wallet
      shortly.
    </h5>

    <div class="confirm-modal-buttons">
      <input type="hidden" value="" data-orderId />
      <button class="btn btn-primary confirm-close">OK</button>
    </div>
  </div>
</div>

<!-- The Modal -->
<div id="order-return-modal" class="modal" >
  <!-- Modal content -->
  <div class="modal-content">
    <h5>Are you sure you want to return this product?</h5>
    <h6>Give a reason</h6>
    <p class="red" data-error></p>
    <select name="returnReason" style="margin-bottom:10px">
      <option value="defective">Defective/Malfunctioning Item</option>
      <option value="wrongItem">Received Wrong Item</option>
      <option value="damaged">Damaged During Shipping</option>
      <option value="notDescribed">Not as Described</option>
      <option value="changedMind">Unsatisfactory Quality</option>
      <option value="changedMind">Changed Mind</option>
  </select>
  

    <div class="confirm-modal-buttons">
      <input type="hidden" data-orderId value="<%= order._id %>" />
      <input type="hidden" value="" data-productId />
      <button class="btn btn-primary confirm-close">CLOSE</button>
      <button class="btn btn-danger" data-sendReqBtn>YES, CANCEL</button>
    </div>
  </div>
</div>
<div id="order-return-message" class="modal" >
  <!-- Modal content --> 
  <div class="modal-content">
    <h5 class="text-center">
      Your return request has been submitted. Please wait while we process it.
    </h5>

    <div class="confirm-modal-buttons">
      <input type="hidden" value="" data-orderId />
      <button class="btn btn-primary confirm-close">OK</button>
    </div>
  </div>
</div>

<script src="/user/js/utils/orders.js"></script>
<%- include("../layouts/userFooter") %>
