<%- include("../layouts/userHeader") %> <%- include("../layouts/userNavbar") %>
<!-- SECTION -->
<div class="section mb-5">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- section title -->
      <div class="col-md-5 option-section">
        <div class="name-container">
          <div class="avatar">
            <img src="/user/img/1.jpg" alt="" />
          </div>
          <div class="name">
            <p>Hello,</p>
            <h3><%= userData.name %></h3>
          </div>
        </div>
        <div class="option-container">
          <div class="option" onclick="window.location.href='/orders'"><h4>Orders</h4></div>
          <div class="option" onclick="editProfile()">
            <h4>Edit profile</h4>
          </div>
          <div class="option" onclick="changePassword()">
            <h4>Change password</h4>
          </div>
        </div>
        <div class="wallet-container">
          <div class="wallet-head">
            <h2>WALLET</h2>
            <h2>SOUNDTASTIC</h2>
          </div>
          <div class="wallet-balance">
            <h3>BALANCE:</h3>
            <h2>&#8377;<%= userData.wallet.balance %></h2>
          </div>
          <div class="wallet-name"><h4><%= userData.name %></h4></div>
        </div>
      </div>
      <div class="col-md-7 details-section">
        <div class="profile-details">
          <div>
            <h3>Personal Information</h3>
            <h6 class="profile-error text-danger"></h6>
            <div class="profile-form">
              <label for="name">Name</label>
              <input
                type="text"
                name=""
                id="name"
                value="<%= userData.name %>"
                data-value="<%= userData.name %>"
                readonly
              />
            </div>
            <div class="profile-form">
              <label for="email">Email</label>
              <input
                type="email"
                name=""
                id="email"
                value="<%= userData.email %>"
                readonly
              />
            </div>
            <div class="profile-form">
              <label for="phone">Phone</label>
              <input
                type="number"
                name=""
                id="phone"
                value="<%= userData.phone %>"
                data-value="<%= userData.phone %>"
                readonly
              />
            </div>
            <div class="profile-edit-buttons">
              <button class="btn btn-primary" onclick="profileCancel()">
                Cancel
              </button>
              <button class="btn btn-primary" onclick="profileSave()">
                Save
              </button>
            </div>
          </div>
        </div>
        <div class="profile-details">
          <h3>Address</h3>
          <button
            class="add-address btn btn-success"
            onclick="window.location.href='/add-address'"
          >
            Add address
          </button>
          <% if(userData.address.length>0){
          userData.address.forEach((item,index)=>{ %>
          <div class="address" data-address="<%= item._id %>">
            <% if(userData.defaultAddress && userData.defaultAddress.equals(item._id)){ %>
            <label for=""
              ><input
                type="radio"
                name="a"
                id=""
                value="<%= item._id %>"
                checked
                data-addressDefault
            /></label>
            <% }else{ %>
            <label for=""
              ><input
                type="radio"
                name="a"
                id=""
                value="<%= item._id %>"
                data-addressDefault
            /></label>
            <% } %>
            <div class="address-details">
              <p>
                <%= item.name %>, <br />
                <%= item.mobile %>, <br />
                <%= item.address %>, <br />
                <%= item.city %>, <br />
                <%= item.state %>, <br />
                <%= item.pincode %> <br />
              </p>
            </div>
            <div class="btn-address-div">
              <button
                class="address-edit"
                onclick="window.location.href='/edit-address/<%= item._id %>'"
              >
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button
                class="address-edit"
                data-id="<%= item._id %>"
                onclick="showConfirm(this)"
              >
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </div>

          <% }) }else{ %>
          <h5>No address found</h5>
          <% } %>
        </div>
      </div>
      <!-- /section title -->
    </div>
    <!-- /row -->

    <!-- /container -->
  </div>

  <!-- /SECTION -->
</div>

<!-- The Modal -->
<div id="confirm-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <h5>Are you sure you want to delete this address?</h5>
    <div class="confirm-modal-buttons">
      <input type="hidden" value="" id="address-id" />
      <button class="btn btn-primary confirm-close">CLOSE</button>
      <button class="btn btn-danger" onclick="deleteAddress()">
        YES, DELETE
      </button>
    </div>
  </div>
</div>

<div id="password-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <h6 class="change-pwd-error text-danger"></h6>
    <div class="old-password-div">
      <div class="change-pwd-container">
        <h5>Enter your current password</h5>
        <input type="password" name="" id="old-password" />
        <button class="btn btn-primary" onclick="checkPassword()">Check</button>
      </div>
    </div>
    <div class="new-password-div">
      <div class="change-pwd-container">
        <h5>Enter new password</h5>
        <input type="password" name="" id="new-password" />
        <h5>Confirm password</h5>
        <input type="password" name="" id="c-new-password" />
        <button class="btn btn-primary" onclick="newPassword()">Change</button>
      </div>
    </div>
    <div class="message-div">
      <div class="change-pwd-container">
        <h5>Password changed successfully</h5>
        <button class="password-close btn btn-primary">Ok</button>
      </div>
    </div>
  </div>
</div>

<script src="/user/js/utils/profile.js"></script>
<%- include("../layouts/userFooter") %>
